body{
    color:black;
    background-color:white;
    background-image:url(../images/fond.jpg);
}

img{
    width: 100%;

}

.affvoyage
{ 
    width:80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color:  #9edfe7 ;
    border: 10mm double rgba(233, 195, 235, 0.6);
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
}


#toutvoyage
{
    display: flex;
    flex-direction : column;
}

.buttonMenu {
    border-style: solid;
  
    display: inline-block;
    padding: 8px;
    color: black;
    background-color: #EC981F;
    text-align: center;
    cursor: pointer;
    width: 20%;
  }