body {
  font-size: 150%;
}

html {
  box-sizing: border-box;
}

.cadre {
  box-shadow: 0 4px 8px ;
  margin: 8px;
}

.colonne {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px
  display: flex;
  flex-direction: column;
}


.about-us{
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}
#myBtn {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  background: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 40px;
  height: 40px;
  background-color: #F8F8F8;
}

.title {

  color: #50403e;
}
.adresse{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color: #E6DEDC;
  text-align: center;
  width: 100%;  
}
.button {
  border: none;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color: #E6DEDC;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.buttonMenu {
  border-style: solid;

  display: inline-block;
  padding: 8px;
  color: black;
  background-color: #E6DEDC;
  text-align: center;
  cursor: pointer;
  width: 20%;
}
