body {
    font-size: 150%;
  }
  
  html {
    box-sizing: border-box;
  }
  
  .cadre {
    box-shadow: 0 4px 8px ;
    margin: 8px;
  }

  .colonne {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px
    display: flex;
    flex-direction: column;
  }
  

  .about-us{
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  
  .title {

    color: #50403e;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color: #E6DEDC;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }